@font-face {
  font-family: "Ubuntu Mono Nerd Font";
  src: url("Ubuntu Mono Nerd FontFont-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Ubuntu Mono Nerd Font Mono";
  src: url("UbuntuMonoNerdFontMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Ubuntu Mono Nerd Font Propo";
  src: url("UbuntuMonoNerdFontPropo-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
x-row {
  text-rendering: optimizeLegibility;
  font-variant-ligatures: normal;
}
